* {
  background-color: #391054;
  color: white;
}

/* TODO: format header and nav bar */
/* Name on left, menu on right */
/* format links */
article.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #5a2575;
}

h1.name {
  font-size: 52px;
  display: block;
  position: absolute;
  left: 40px;

  margin: 20px 0;
  background-color: #5a2575;
}

ul {
  list-style-type: none;
  position: absolute;

  background-color: #5a2575;
  right: 40px;
  margin: 37px 0;
}

li {
  display: inline;
  padding: 0 20px;
  font-size: 22px;
  background-color: #5a2575;
}

a.nav {
  text-decoration: none;
  background-color: #5a2575;
}

h2 {
  font-size: 40px;
  color: #c9a8f1;
  text-indent: 20px;
  display: block;
  position: absolute;
}
/* TODO: Format About Me Section */
/* Title and text on left, image on right */

#about {
  height: 500px;
  position: relative;
  margin: 20px 0;
}

img.profile {
  height: 300px;
  position: absolute;
  display: inline;
  border-radius: 50%;
  margin: 100px 0 50px;
  right: 100px;
}

p.bio {
  display: block;
  font-size: large;
  line-height: 1.5;
  text-align: justify;
  position: absolute;
  margin: 140px 0 90px;
  width: 400px;
  height: 220px;
  left: 100px;
}

/* TODO: Format My Work Section */
/* Title on left */
/* Application 1 image length of screen, text in corner */
h3 {
  text-align: center;
  background-color: transparent;
  margin: 0;
}

section.equivont {
  position: relative;
}

h3.equivont {
  font-size: 70px;
  position: absolute;
  bottom: 8px;
  left: 20px;
}
/* Application 2-5 two images per row, text bottom center */

/* TODO: Format Contact Me Section */
/* TODO: Format form */
/* First and Last name labels above text input, text input in line */
/* email label above text input, text input full length of block */
/* message label about text input, text input full lenght of block and taller */
/* submit button centered at bottom */

/* TODO: Format contact info */
/* all elements in line across page */
/* format links */
